
# Auto detect text files and perform LF normalization
* text=auto




hysteria2://b5f4a564-1d42-40c2-a963-45617f798ea1@nl1.hs.tazobactam.fun:7443?security=tls&obfs=salamander&obfs-password=jooJOO12&insecure=0&sni=test.tazobactam.fun#%F0%9F%87%B3%F0%9F%87%B1%20Netherlands%20%7C%20HS%20%20%F0%9F%92%A7